.layout {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  align-items: stretch;
}



.conteudo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #ffffff;
  overflow: hidden;
  min-height: 0;       
  min-width: 0; 
}



@media (max-width: 1023px) {
  .conteudo {
    padding-top: 3.5rem;
  }
}

