@import url('https://fonts.googleapis.css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  color-scheme: light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff; 
  color: #18181b; 
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}